#titulinho {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  color: #c9ada7;
  background-color: #fff;
  border: 0px;
}

#print {
  color: #ffff;
  background-color: #5C545B;
  float: right;
}

#voltar {
  color: #ffff;
  background-color: #5C545B;
}

#print {
  float: right;
}

.conteudo {
  margin-top: 1vw;
}

.img1{
  align-items: center;
  text-align: center;
}

.img2{
  align-items: center;
  text-align: center;
}

.img3{
  align-items: center;
  text-align: center;
}



